@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(189, 189, 189);
}
#todosLine{
    width: 280px;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;

}
@media only screen and (max-width: 600px) {
    #todosLine {
        width: 150px;
        /* word-wrap: break-word; */
        overflow-wrap: break-word;
    }
  }